# Ambiente virtual
.venv/

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Configurações locais do VS Code
.vscode/

# Dataset original
data/raw/

# Modelos treinados
models/
*.keras
*.h5

# Arquivos temporários do sistema
.DS_Store
Thumbs.db